.editorconfig
.env
.env.example
.git
.gitattributes
.github
.gitignore
.mcp.json
.mcp.json.example
.phpstan.result.cache
.phpunit.cache
_.md
database/database.sqlite
docker-compose.yml
Dockerfile
frankenphp
mago.toml
mcp-server
monitoring
node_modules
oxlint.json
phpstan.neon
phpunit.xml
public/build
storage/framework/cache/_
storage/framework/sessions/_
storage/framework/testing/_
storage/framework/views/_
storage/logs/_
tests/
vendor
