.claude
.editorconfig
.env
.git
.gitattributes
.github
.gitignore
.mcp.json
.mcp.json.example
CLAUDE.md
database/database.sqlite
Dockerfile
frankenphp
mcp-server
node_modules
public/build
README.md
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor