{
	{$CADDY_GLOBAL_OPTIONS}

	admin 0.0.0.0:2019

	metrics

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	servers {
		metrics
	}
}

{$SERVER_NAME:localhost} {
	log {
		output stderr
	}

	root * /app/public

	encode zstd br gzip

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	@static path /build/*
	header @static Cache-Control "public, max-age=31536000, immutable"

	@favicon path /favicon.ico /robots.txt
	header @favicon Cache-Control "public, max-age=86400"

	handle /grafana* {
		reverse_proxy {$GRAFANA_HOST:grafana:3000}
	}

	php_server
}

:9113 {
	root * /app/public
	php_server {
		resolve_root_symlink
	}
}
