{
	{$CADDY_GLOBAL_OPTIONS}

	metrics

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$SERVER_NAME:localhost} {
	log {
		output stderr
	}

	root * /app/public

	encode zstd br gzip

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	php_server
}
